.About{
    height: 100vh;
    color: #fff;
}
.aboutme{
    color: #285F67;
    text-align: center;
    font-size: 50px;
}
.containerAbout{
    display: flex;
    margin-top: 20px;
}
.intro{
    width: 50%;
    margin-left: 50px;
    height: 500px;
    
}
.photo{
    width: 40%;
    height: 500px;
}
.photoMoi{
    width: 300px;
    margin-left: 100px;
    border-radius: 20%;
}
.ico{
    width: 20px;
    height: 20px;
    padding-right: 20px;
}