.About{
    height: 90vh;
    
    color: black;
    border: 1px solid green;
    margin-top: 4rem;
}
.containerAbout{
    display: flex;
}
.intro{
    width: 50%;
    height: 500px;
    border: 1px solid black;
    
}
.photo{
    width: 50%;
    height: 500px;
    border: 1px solid black;
}
.photoMoi{
    width: 300px;
    margin-left: 200px;
}