body{
    background-color: white;
}
.Home {
    height: 90vh;/* 
    margin-top: 6rem; */
    background-image: url(../../Images/fond.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid red;
  }
.text{
    color: #285F67;
    font-size: 55px;
    
}
.ContainerHome{
    margin-left: 400px;
    margin-top: 150px;
}
.Hello{
    margin-left: 120px;
}
.Im{
    color: #9C6315;
}
.ok{
    display: flex;
}
.button{
    margin-left: 80px;
}
.btn{
    border: none;
    margin-left: 9px;
    outline: none;
    padding: 14px 40px;
    border-radius: 15px;
    background:linear-gradient(to right,#35807E,#285F67) ;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    
    padding: 16px 42px;
    font-size: 20px
}
.CV{
    
}
