body{
    background-color: white;
}
.Home {
    height: 77vh;
    margin-top: 6rem;
  }
.text{
    color: #285F67;
    font-size: 55px
}
/* .Hello{
    margin-left: -300px;
} */
.Im{
    color: #9C6315;
}
.ok{
    display: flex;
}
.btn{
    border: none;
    margin-left: 9px;
    outline: none;
    padding: 14px 40px;
    border-radius: 15px;
    background:linear-gradient(to right,#35807E,#285F67) ;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    
    padding: 16px 42px;
    font-size: 20px
}
.CV{
    
}
.i-right {
    flex: 1;
    position: relative;
  }
  .i-right > * {
    position: absolute;
    z-index: 1;
  }
  .i-right > :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
  }
  .i-right > :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .i-right > :nth-child(3) {
    transform: scale(1.4);
    left: 28%;
  }
  .i-right > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
